<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021260376698-f9vrpsfa7rj4balmr5um52o6k4dva313.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021260376698-f9vrpsfa7rj4balmr5um52o6k4dva313</string>
	<key>API_KEY</key>
	<string>AIzaSyBKVzuM-rfBWO7zkTuAYEH7r-Y4OkuQNQg</string>
	<key>GCM_SENDER_ID</key>
	<string>1021260376698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.julianvu.uniplan</string>
	<key>PROJECT_ID</key>
	<string>uniplan-aeccd</string>
	<key>STORAGE_BUCKET</key>
	<string>uniplan-aeccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021260376698:ios:653178aa9aa548f876e9c3</string>
</dict>
</plist>